
        <div style="width: 894px; height: auto; -moz-border-radius: 25px; overflow: hidden; background-color: #4DBFD6; color: #fff; margin-right: auto; margin-left: auto; display: block;">
            <img src="{{app.request.getScheme~'://'~app.request.getHttpHost~asset('bundles/backend/images/mail.jpg')}}" alt="puppyhome" usemap="#Map" style="width: 100%;" border="0" />
            <map name="Map" id="Map">
                <area shape="rect" coords="728,64,774,121" href="https://www.facebook.com/Puppyhome07" target="_blank" />
                <area shape="rect" coords="828,64,875,121" href="mailto:puppyhome07@gmail.com" target="_blank" />
                <area shape="rect" coords="778,65,825,121" href="https://www.instagram.com/puppyhomecol/" target="_blank" />
            </map>
            <div style="display: inline-block; width: 92%; padding: 3%; text-align: left; height: auto; bottom: 0px; font-family: Arial, Helvetica, sans-serif; font-size: 13px;">
                <table cellpadding="5">
                    <tbody>
                        <tr>
                            <td><h1 style="color: #FFFFFF;"><span style="color:#FF3366">Buen Día:</span> <strong>{{entitie.nombreCompleto}}</strong></h1></td>
                        </tr>
                        <tr>
                            <td><table width="100%">
                                    <tbody>
                                        <tr>
                                            <td valign="top">
                                                <h2 style="color: #2794AB; display: inline-block; font-size: 15px;">RAZA:</h2> <strong>{{entitie.raza.nombre}}</strong><br />
                                                {{entity.mensaje | raw}}
                                            </td>
{#                                            <td valign="top"><img src="http://www.puppyexport.com/images/Razas/cocker%20spaniel/2.png" alt="www.puppyexport.com" width="150" /><img src="http://www.puppyexport.com/images/Razas/cocker%20spaniel/3.png" alt="www.puppyexport.com" width="150" /><img src="http://www.puppyexport.com/images/Razas/cocker%20spaniel/3.png" alt="www.puppyexport.com" width="150" /></td>#}
                                        </tr>
                                        <tr>
                                            <td colspan="2" valign="top">Para iniciar la compra del cachorro o si desea recibir asesoría veterinaria, envíenos sus números telefónicos de casa, móvil u oficina vía mail, puppyhome07@hmail.com ó escribanos por la página de Internet www.puppyhome.co <br />
                                                <strong>Las Garantías y Beneficios son:</strong></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" valign="top"><br />
                                                <div class="filterCont" style="float: left; background-color: #75CDDF; padding: 15px; color: #000000; border-radius: 30px; -moz-border-radius: 30px; -o-border-radius: 30px; -webkit-border-radius: 30px;">
                                                    <ul style="list-style-image: url(http://puppyhome.co/bundles/frontend/img/printh2.png)">
                                                        <li> Le mostramos el cachorro en la ciudad de Bogotá sin ningún compromiso   en nuestra tienda para mascotas (Sede Centro Mayor) con cita previa,   (Para Bogotá es presencial y fuera de Bogotá, por medio de fotos). </li>
                                                        <li>  Examen de Laboratorio de Parvovirus en presencia del cliente, para   certificar y  garantizar que el cachorro se entrega LIBRE DE ESTA   ENFERMEDAD. <br />
                                                            <br />
                                                        </li>
                                                        <li> Primera vacuna Bivalente NOBIVAC PUPPY DP. (La vacuna de mayor   protección en la actualidad). Aplicada en su presencia del cliente con   certificado de vacunación con firma, sello y registro veterinario. <br />
                                                            <br />
                                                        </li>
                                                        <li> 5 primeras dosis de tratamiento desparasitaríos con TOTAL FULL CG, aplicado en presencia del cliente. <br />
                                                            <br />
                                                        </li>
                                                        <li> Garantía de salud de 15 días después de la entrega, por enfermedades de tipo viral, parasitario y bacteriano. <br />
                                                            <br />
                                                        </li>
                                                        <li> Certificado de garantía escrita de pureza de la raza, generada por   Puppy Export y firmada por un médico veterinario, de acuerdo a los   estándares internacionales (FCI. The Federation Cynologique   Internationale). <br />
                                                            <br />
                                                        </li>
                                                        <li> Carpeta guía y charla dictada por el médico veterinario sobre cuidados   básicos del cachorro, tales como alimentación, prevención sanitaria,   aseo, ejercicio y educación. <br />
                                                            <br />
                                                        </li>
                                                        <li> Obsequio de PuppyHome <br />
                                                        </li>
                                                    </ul>
                                                </div></td>
                                        </tr>
                                    </tbody>
                                </table></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div style="float: left; width: 100%; height: auto; color: #5E87B5; font-size: 18px; margin-top: 2%;">
                <img src="{{app.request.getScheme~'://'~app.request.getHttpHost~asset('bundles/backend/images/maild.jpg')}}" style="width: 100%;" alt="puppyhome" /></div>
        </div>

    
