/*!
 * Start Bootstrap - Creative Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

html,
body,
.carousel,
.carousel-inner,
.carousel-inner .item {
    height: 100%;
}
body {
    font-family: Merriweather,'Helvetica Neue',Arial,sans-serif!important;
}

hr {
    max-width: 50px;
    border-color: #000;
    border-width: 3px;
}

hr.light {
    border-color: #fff;
}

a {
    color: #0099FF;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}
#about,#testimonial {
    height: 100%;
}

#fancy .section-heading {
    margin-top: 30px;
}

a:hover,
a:focus {
    color: #eb3812;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}
.navbar-default .navbar-nav > li > a {
    letter-spacing: -1px;
}
p {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.5;
}

.bg-primary {
  background-color: #cebca4;
  background-image: url("../img/tapiz.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: white;
}

.bg-dark {
    color: #fff;
    text-align: center;
    background-image: url(../img/tapiz2.jpg);
}

.text-faded {
    color: rgba(255,255,255,.7);
}

section {
    padding: 100px 0;
}
#raza, #company {
    padding: 50px 0;
    background-image: url("../img/tapiz3.jpg");
    background-repeat: repeat;
    background-size: 300px 300px;
    color: black;
}
aside {
    padding: 50px 0;
}

.no-padding {
    padding: 0;
}
.nav-tabs > li > a {
    font-size: 15px;
    font-weight: bold;
}
.navbar-default {
    border-color: rgba(34,34,34,.05);
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    background-color: rgba(0,0,0,0.06);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}
.navbar-default.affix {
    border-color: rgba(34,34,34,.05);
    background-image: url(../../bundles/frontend/img/bgnav.jpg);
    background-repeat: repeat;
    background-size: auto 100%;
}
.navbar-right {
    width: 88%;
    text-align: right;
}
.navbar-right, .nav>li {
    display: inline-block;
    float: none;
}
.navbar-default .navbar-header .navbar-brand {
    text-transform: uppercase;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-weight: 700;
    color: #f05f40;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
    color: #eb3812;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #222;
}
.navbar-default.affix .nav > li>a {
    color: #fff;
}
.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: #f05f40;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #663300!important;
    background-color: rgba(225,208,156, 1);
    background-image: url(../img/print.png);
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 5px 30px 19px 39px;
    transform: rotate(2deg);
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
    background-color: rgba(225,208,156, 0.7);
    background-image: url(../img/print.png);
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 5px 30px 19px 39px;
}
header {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #fff;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
}

header .header-content .header-content-inner h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 700;
}

header .header-content .header-content-inner hr {
    margin: 30px auto;
}

header .header-content .header-content-inner p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255,255,255,.7);
}


.section-heading {
    margin-top: 0;
}

.service-box {
    margin: 50px auto 0;
    max-width: 400px;
}

.service-box p {
    margin-bottom: 0;
}

.portfolio-box {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 650px;
}

.portfolio-box .portfolio-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    background: rgba(54,217,0,.9);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    padding: 0 15px;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
    opacity: 1;
}

.call-to-action h2 {
    margin: 0 auto 20px;
}

.text-primary {
    color: #f05f40;
}

.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

.btn-default {
    border-color: #fff;
    color: #222;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    border-color: #ededed;
    color: #222;
    background-color: #f2f2f2;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    border-color: #fff;
    background-color: #fff;
}

.btn-default .badge {
    color: #fff;
    background-color: #222;
}

.btn-primary {
    border-color: #f05f40;
    color: #fff;
    background-color: #f05f40;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    border-color: #ed431f;
    color: #fff;
    background-color: #ee4b28;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: #f05f40;
    background-color: #f05f40;
}

.btn-primary .badge {
    color: #f05f40;
    background-color: #fff;
}

.btn {
    border: 0;
    border-radius: 300px;
    text-transform: uppercase;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-weight: 700;
}

.btn-xl {
    padding: 15px 30px;
}

::-moz-selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

::selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

img::selection {
    color: #fff;
    background: 0 0;
}

img::-moz-selection {
    color: #fff;
    background: 0 0;
}

body {
    webkit-tap-highlight-color: #222;
}

.carousel-fade .carousel-inner .item {
    transition-property: opacity;
}
.carousel-fade .carousel-inner .item, .carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right {
    opacity: 0;
    margin: 0;
}
.carousel-fade .carousel-inner .active, .carousel-fade .carousel-inner .next.left, .carousel-fade .carousel-inner .prev.right {
    opacity: 1;
    transition: all 0.4s ease-in-out 0.4s;
}
.carousel-fade .carousel-inner .next, .carousel-fade .carousel-inner .prev, .carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right {
    left: 0;
    transform: translate3d(0px, 0px, 0px);
}
.carousel-fade .carousel-control {
    display: table;
    font-size: 0;
    height: 100%;
    vertical-align: text-bottom;
    z-index: 2;
}
.carousel, .carousel-inner, .carousel-inner .item {
    height: 100%;
}
.item:nth-child(1), .item:nth-child(2), .item:nth-child(3), .item:nth-child(4) {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
}
.item:nth-child(1) {
    background-image: url(../img/slide1.jpg);
}
.item:nth-child(2) {
    background-image: url(../img/slide2.jpg);
}
.item:nth-child(3) {
    background-image: url(../img/slide3.jpg);
}
.item:nth-child(4) {
    background-image: url(../img/slide4.jpg);
}
.carousel-control.left {
    background-image: url(../img/arrowl.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 34px 78px;
}
.carousel-control.right {
    background-image: url(../img/arrowr.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 34px 78px;
}
.carousel-control {
    width: 10%;
}
.navbar {
    min-height: 70px;
}
.logotype {
    height: 65px;
    margin-top: -13px;
    width: auto;
}
.navbar-nav > li > a {
    padding-bottom: 24px;
    padding-top: 25px;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    background-color: rgba(225,208,156, 0.7);
    background-image: url(../img/print.png);
    background-position: center center;
    background-repeat: no-repeat;
    transform: rotate(2deg);
    border-radius: 5px 30px 19px 39px;
}
.btnblue {
    background-color: #4dbfd6;
    color: white;
}
.btnbeige {
    background-color: #e1d09c;
    color: #663300;
}
.btnfux {
    background-color: #FF007F;
    color: white;
    visibility: visible!important;
}
.btnrz {
    background-color: #555555;
    color: white;
    margin-top: -15px;
    z-index: 2;
    cursor: auto;
    width: 100%;
}
.btnrz:hover {
    color: white;
}
.nav2 {
    display: inline-block;
    vertical-align: inherit;
}
.rds {
    background-color: #e1d09c;
    color: white;
    display: inline-block;
    text-align: center;
    width: 28px;
    font-size: 22px;
    margin: 0 4px;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    visibility: visible!important;
}
.rds:hover {
    color: #663300;
}
.h3, h3 {
    border-bottom: 1px solid #4dbfd6;
    color: #4dbfd6;
    font-size: 28px;
    padding-bottom: 5px;
}
.h5, h5 {
    border-bottom: 1px solid #4dbfd6;
    color: #4dbfd6;
    padding-bottom: 2px;
    margin-bottom: 2px;

}
.panel {
    border: 1px solid #ddd;
    border-radius: 0px;
    padding-bottom: 20px;
}
.ulsetp {
    color: #777;
    list-style: outside none none;
    margin-left: 0;
    padding-left: 0;
}
.ulsetp li {
    margin-bottom: 5px;
}
.ulsetp img {
    vertical-align: unset;
}
.wellbl {
    background-color: #333;
    padding: 20px;
}
.wellb2 {
    background-color: transparent;
    padding: 20px;
}
.primary {
    border-color: #4CBFD4!important;
}
.fux {
    border-color: #FF027E;
}
.ola, .ola2 {
    background-image: url(../img/ola.png);
    background-size: 100% 100%;
    height: 27px;
    margin-top: -27px;
    z-index: 1;
    position: relative;
}

.ola2 {
    background-image: url(../img/ola2.png);
}

.navbar-brand > img {
    display: block;
    visibility: visible !important;
}
.foothr {
    border-color: #eee;
    display: inline-block;
    max-width: inherit;
    width: 100%;
}
#staticpic {
    height: 200px !important;
    min-height: 200px;
    background-image: url(../img/inter.jpg);
    background-size: cover;
    background-position: top center;
}
.img_round {
    float: none;
    height: 170px;
    margin: 0 auto;
    overflow: hidden;
    padding: 7px;
    position: relative;
    width: 170px;
    z-index: 1;
}
.rounfan {
    height: 250px;
    width: 250px;
    margin-top: 15px;
}
.img_round img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
}
.img_round::after, .img_round::before {
    border: 1px solid #999;
    border-radius: 50%;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}
.img_round::after {
    border: 5px solid #4cbfd6;
    z-index: 1;
}
.tab-pane {
    padding: 20px 15px;
}
.tab-content {
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid #B1A18A;
    display: inline-block;
    padding-bottom: 20px;
    width: 100%;
}
.rz {
    width: 100%!important;
    opacity: 0.7;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}
.rz:hover {
    opacity: 1;
}
.nav-tabs.nav-justified > li > a {
    background-color: rgba(116, 100, 77, 0.3);
    border-bottom: solid 1px rgba(255,255,255,0.6);
    border-radius: 0;
    color: white;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    background-color: rgba(255, 255, 255, 0.6);
    color: #74644d;
}
ul {
    margin: 0;
    padding: 0 0 0 12px;
}
.picgal {
    display: block;
    height: 300px;
    width: auto;
}
.hid {
    overflow: hidden;
}
@media (min-width: 769px) {
    .container-fluid > .navbar-collapse {
        margin-right: 15px;
        margin-left: 15px;
    }
}
/*estilos para los elementos en los fancy*/
#fancy #carousel {
    height: 282px;
}
#fancy .item:nth-child(1), #fancy .item:nth-child(2), #fancy .item:nth-child(3), #fancy .item:nth-child(4) {
    background-color: #333;
    background-image: none;
}
.carousel-inner>.item>img {
    display: block;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
}
#fancy .btnfux {
    margin-top: -24px;
    margin-bottom: 20px;
}
/*.bg-primary, .bg-dark {
    background-size: 300px 300px;
}*/