/*Kindle Fire verticale */

@media only screen and (min-width :530px) and (max-width : 700px) {
    ul {
        text-align: center;
    }
}



/*iPad  */
@media(min-width:769px) {
    header {
        min-height: 100%;
    }
}

@media only screen and (min-width :1000px) and (max-width : 1100px) {
    .container {
        width: 90% !important;
    }
}
@media only screen and (max-width :1024px) {
    .item:nth-child(1), .item:nth-child(2), .item:nth-child(3), .item:nth-child(4) {
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: top center;
        background-size: 100% auto;
        background-color: #CEBCA4;
    }
    .box {
        min-height: 300px;
    }
    header {
        min-height: 72%;
        height: 72%!important;
    }
}
@media only screen and (min-width :530px) and (max-width : 968px) {
    .container {
        width: 96% !important;
    }
}	
@media(min-width:992px) {
    .service-box {
        margin: 20px auto 0;
    }
}
@media only screen and (max-width : 991px) {
    .container {
        width: 96% !important;
    }
}
@media(min-width:769px) {
    .navbar-default {
        border-color: rgba(255,255,255,.3);
        background-color: rgba(0,0,0,0.06);
    }

    .navbar-default .navbar-header .navbar-brand {
        color: rgba(255,255,255,.7);
    }

    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: #fff;
    }

    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color: rgba(255, 255, 255, 1);
        text-shadow: 1px 1px 1px black;
    }

    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #fff;
    }

    .navbar-default.affix {
        border-color: rgba(34,34,34,.05);
        background-image: url(../img/bgnav.jpg);
        background-repeat: repeat;
        background-size: auto 100%;
    }

    .navbar-default.affix .navbar-header .navbar-brand {
        font-size: 14px;
        color: #f05f40;
    }

    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: #eb3812;
    }

    .navbar-default.affix .nav > li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: #fff;
        text-shadow: none;
    }

    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: #663300;
    }

    header .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    header .header-content .header-content-inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }

    header .header-content .header-content-inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
    }
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
        font-size: 16px;
    }

    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
        font-size: 22px;
    }
}
@media(max-width:768px) {
    .box {
        min-height: auto;
    }
    .nav>li>a {
        position: relative;
        display: block;
        padding: 10px 5px;
    }
    .btn {
        padding: 6px 8px;
    }
    .navbar-default .nav > li>a, .navbar-default .nav>li>a:focus {
        font-size: 11px;
    }

    .navbar-right {
        float: none!important;
        margin-right: 0;
        margin-top: 18px;
    }
    header {
        min-height: 40%;
        height: 40%!important;
    }
    .logotype {
        height: 50px;
        margin-top: -5px;
        width: auto;
    }
    .btnrz {
        width: 100%;
        z-index: 7777;
        display: block;
        margin-bottom: 20px;
    }
    .nav2 {
        float: right;
    }
    form {
        margin-bottom: 20px;
    }

    .fa-2x {
        padding-left: 0!important;
        width: auto;
    }
}
@media only screen and (max-width: 736px) {
    .item:nth-child(1), .item:nth-child(2), .item:nth-child(3), .item:nth-child(4) {
        background-color: #131313;
    }
    .navbar-default {
        background-color: rgb(77, 190, 212);
    }
    #myTab>li>a {
        margin-bottom: 0px;
    }
    .box .col-sm-6 img {
        margin: 0 auto!important;
        width: auto!important;
        float: none;
        max-width: inherit!important;
    }
    #about, #testimonial {
        height: auto;
    }
}
@media(max-width:736px) {
    .navbar {
        min-height: 50px;
        background-color: rgba(77,191,214,0.95)!important;
    }
    .logotype {
        height: 40px;
        margin-top: -8px;
        width: auto;
    }
    header {
        min-height: 260px;
        height: 260px!important;
    }
    .ola, .ola2 {
        display: none;
    }
    .item:nth-child(1), .item:nth-child(2), .item:nth-child(3), .item:nth-child(4) {
        background-position: center 12%;

    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }
    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
        background-color: #378EC1;
    }
    .nav>li {
        display: block;
        width: 100%;
    }
    .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover, .navbar-default .nav > li.active>a, .navbar-default .nav>li.active>a:focus {
        background-position: 130% center;
        background-repeat: no-repeat;
        transform: rotate(0deg);
        border-radius: 0;
        background-size: auto 48px;
        padding: 15px;
        text-align: left;
        color: black;
    }
    .navbar-right {
        width: inherit;
        text-align: left;
        margin: 0 -15px;
        display: block;
    }
    .navbar-default .nav > li>a {
        font-size: 13px;
        color: #FFF;
        border-bottom: solid 1px #4184A5;
        border-top: solid 1px #B3F1FF;
        letter-spacing: 1px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .nav2 {
        padding: 15px;
        display: block;
        text-align: center;
        width: 100%;
    }
    .carousel-indicators {
        bottom: 0px;
        margin-bottom: -6px;
    }
    .btn {
        padding: 6px 12px;
        width: 100%!important;
        margin-bottom: 15px;
    }
    .btnrz {
        margin-bottom: 30px;
        visibility: visible!important;
    }
}
@media(max-width:480px) {
    .item:nth-child(1), .item:nth-child(2), .item:nth-child(3), .item:nth-child(4) {
        background-size: 108% auto;
    }
    .carousel-indicators {
        margin-bottom: 0px;
    }
    .quote-slideshow h2 {
        font-size: 18px;
        line-height: 22px;
    }
    .bg-primary {
        color: black;
    }
}
