/*! normalize.css v1.0.0 | MIT License | git.io/normalize */
 
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
 
/*
 * Corrects `block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

[hidden] {
    display: none;
}

.slideshow, .quote-slideshow {
    position: relative;
    display: block;
    overflow: hidden;
}
.next, .prev, .quote-next, .quote-prev{
    color: #fff;
    position: absolute;
    top: 50%;
    z-index: 1;
    margin-top: -.75em;
    user-select: none;
    transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
}
.next:hover, .prev:hover, .quote-next:hover, .quote-prev:hover{
    cursor: pointer;
    color: #6dbeaa;
}
.next, .quote-next {
    right: 15px;
}
.prev, .quote-prev{
    left: 15px;
}
figure{
    position: absolute;
    opacity: 0;
    transition: 1s opacity;
    width: 100%;
}
figure.show {
    opacity: 1;
    position: absolute;
    position: static;
    transition: 1s opacity;
}
figcaption {
	color: #2b6875;
	font-size: 24px;
	text-align: center;
	text-shadow: 1px 1px 1px white;
}
figcaption a{
color: #fff;
}
.quote-container {
    padding: 50px 0;
}
.quote-slideshow {
    height: auto;
}
.quote-slideshow h2 {
    color: #fff;
    font-size: 30px;
    font-weight: 200;
    font-style: italic;
}
.circle {
    background-color: rgba(0,0,0,0.1);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
}
.circle i {
    margin-top: 6px;
}
.shadow{
    height: 10px;
    background-color: #58b9a1;
}
.testi {
    margin: 0 10%;
    width: 80%;
}
