{% extends 'BackendBundle:Default:main.html.twig' %}

{% block content %}
    <div class="col-lg-4 pull-right">

        <form action="{{path('backend_search_company')}}" method="post" >

            <div class="form-group">

                <input type="email" data-validation-required-message="Please enter your email address." placeholder="Correo Electrónico" required id="email"  name="email" class="form-control">
            </div>

            <div class="form-group pull-right">
                <button id="submitsearch" type="submit" class="btn btn-primary">Buscar</button>
            </div> 

        </form>
    </div>
    <h1>Lista de Empresas</h1>

    <div class="row">
        <div class="col-lg-10">
            <div class="table-responsive">
                <table class="table table-bordered table-hover tablesorter">
                    <thead>
                        <tr>

                            <th>Nombre</th>
                            <th>Nit</th>

                            <th>Email</th>
                            <th>Puntos</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entity in company %}
                            <tr>                  

                                <td>{{ entity.name }}</td>    
                                <td>{{ entity.company.nit}}</td>

                                <td>{{ entity.email }}</td>
                                <th>{{ entity.total }}</th>
                                <td>
                                    <ul>                                       
                                        <lo>
                                            <a title="Agregar Puntos" href="{{ path('backend_add_points' , { 'id': entity.id , 'sa': '1' }) }}" style="width:auto" class="fancy fancybox.iframe"><i class="fa fa-plus btn btn-default"></i></a>
                                        </lo>
                                        <lo>
                                            <a title="Quitar Puntos" href="{{ path('backend_rest_points' , { 'id': entity.id , 'sa': '1' }) }}" style="width:auto" class="fancy fancybox.iframe"><i class="fa fa-minus btn btn-default"></i></a>
                                        </lo>
                                        <lo>
                                            <a title="Historial Puntos" href="{{ path('backend_history_points' , { 'id': entity.id }) }}" style="width:auto" class="fancy fancybox.iframe"><i class="fa fa-bars btn btn-default"></i></a>
                                        </lo>
                                    </ul>
                                </td>
                            </tr>

                        {% endfor %}  

                    </tbody>
                </table>
                <ul id="paginate_elements">
                    {% if paginator.currentPage > 1 %}
                        <lo><a href="{{ path('backend_usuarios', {'page': paginator.previousPage}) }}">Anterior</a></lo>
                        {% else %}
                        <lo class="left_disabled"><a href="#">Anterior</a></lo>
                        {% endif %}

                    {% for page in paginator.minPageInRange..paginator.maxPageInRange %}
                        {% if page == paginator.currentPage %}
                            <lo><a class="current" href="#">{{ page }}</a></lo>
                            {% else %}
                            <lo><a href="{{ path('backend_usuarios', {'page': page}) }}">{{ page }}</a></lo>
                            {% endif %}
                        {% endfor %}

                    {% if paginator.currentPage < paginator.lastPage %}
                        <lo class="right"><a href="{{ path('backend_usuarios', {'page': paginator.nextPage}) }}">Siguiente</a></lo>
                        {% else %}
                        <lo class="right_disabled">Siguiente</lo>
                        {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
