{% extends 'BackendBundle:Default:main.html.twig' %}

{% block title 'home' %} 
    {% block content %}
        <div class="row">
            <div class="col-lg-12">
                <h1>Inicio</h1>
                <ol class="breadcrumb">
                    <li class="active"><i class="fa fa-home"></i> Dashboard</li>
                </ol>
                <div class="alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    Bienvenido al panel del Administrador
                </div>
            </div>

            <!-- /.ESTADISTICAS -->                   

            <div class="row">
                <div class="col-lg-12">
                    <ol class="breadcrumb">
                        <li class="active"><i class="fa fa-bar-chart-o"></i> Total Visitas</li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-bar-chart-o fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{totaltoday}}</div>
                                    <div>Visitas Hoy!</div>
                                </div>
                            </div>
                        </div>                    
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-bar-chart-o fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{totalmonth}}</div>
                                    <div>Visitas este Mes!</div>
                                </div>
                            </div>
                        </div>                    
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-bar-chart-o fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{total}}</div>
                                    <div>Total de Visitas!</div>
                                </div>
                            </div>
                        </div>                    
                    </div>
                </div>            
            </div>

        </div><!-- /.row -->
    {% endblock content %}
