<html lang="en">
    <head>
        <meta charset="utf-8">
        <script src="{{ asset('bundles/backend/js/jquery-1.10.2.js') }}" type="text/javascript"></script>
        <link href="{{ asset('bundles/backend/css/bootstrap.css') }}" type="text/css" rel="stylesheet" media="screen" />
        <link href="{{ asset('bundles/backend/css/jquery-ui.css') }}" type="text/css" rel="stylesheet" media="screen" />

        <!-- Add custom CSS here -->
        <link href="{{ asset('bundles/backend/css/sb-admin.css') }}" type="text/css" rel="stylesheet" media="screen" />
        <link href="{{ asset('bundles/backend/css/style.css') }}" type="text/css" rel="stylesheet" media="screen" />

        <link href="{{ asset('bundles/backend/font-awesome/css/font-awesome.min.css') }}" type="text/css" rel="stylesheet" media="screen" />

        <script src="{{ asset('bundles/backend/js/bootstrap.js') }}" type="text/javascript"></script> 

        <script src="{{ asset('bundles/backend/js/bootbox.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/backend/js/jquery-ui.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/backend/js/bootbox.min.js') }}" type="text/javascript"></script>

        <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
        <script src="http://cdn.oesmith.co.uk/morris-0.4.3.min.js"></script>

        <script src="{{ asset('bundles/backend/js/morris/chart-data-morris.js') }}" type="text/javascript"></script>}
        <script src="{{ asset('bundles/backend/js/tablesorter/jquery.tablesorter.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/backend/js/tablesorter/tables.js') }}" type="text/javascript"></script>


    </head>

    <body>
        <div id="wrapper">
            <div id="page-wrapper">
                {% block body %}
                {% endblock %}
            </div>
        </div>

        <script type="text/javascript">
            $(document).ready(function () {

            {% block script %}
            {% endblock %}
                });
                var timeToClose = 0;
                function closeFancyOnTime()
                {
                    setInterval(function () {
                        timeToClose++;
                        if (timeToClose == 2)
                        {
                            window.parent.$.fancybox.close();
                        }

                    }, 1000);
                }
        </script>

    </body>

</html>