{% macro filemanagerbutton(divname, inputid) %}
    <span class="input-group-btn">
        <a title="search" data-toggle="modal" id="{{divname}}1" href="#" data-target="#{{divname}}" class="btn btn-default"><i class="fa fa-photo"></i> <i class="fa fa-search"></i></a>
    </span> 
    <div class="modal fade" id="{{divname}}">
        <div class="modal-dialog modal-dialogimage">
            <div class="modal-content modal-contentimage">
                <div class="modal-header modal-headerimage">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body modal-bodyimage" >
                    <iframe height="95%" width="100%" src="{{ asset('bundles/backend/filemanager/dialog.php?type=1&field_id='~inputid) }}" frameborder="0" style="overflow: scroll; overflow-x: hidden; overflow-y: scroll; "></iframe>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript">
        $("#{{inputid}}").click(function () {
            $("#{{divname}}1").click();
        });
    </script>
{% endmacro %}