<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Contáctenos</h2>
                <hr class="primary">
                <p>¿List@ para conocer al nuevo miembro de tu familia? genial! pues bien, solo debes llamarnos o enviarnos un correo electrónico y nosotros nos pondremos en contacto contigo lo m&aacute;s pronto posible!</p>
            </div>
            <div class="col-md-6">
                <form role="form wow bounceIn" action="{{path('frontend_contact_mail')}}" method="post" {{form_enctype(formMail)}}>
                    <div class="form-group">
                        {{form_widget(formMail.nombreCompleto, { 'attr': {'class': 'form-control', 'placeholder':'Nombre y Apellido'} })}}
                        <p class="help-block alert-danger">{{form_errors(formMail.nombreCompleto)}}</p> 
                    </div>
                    <div class="form-group">
                       {{form_widget(formMail.email, { 'attr': {'class': 'form-control', 'placeholder':'Email'} })}}
                        <p class="help-block alert-danger">{{form_errors(formMail.email)}}</p> 
                    </div>
                    <div class="form-group">
                       {{form_widget(formMail.telefono, { 'attr': {'class': 'form-control', 'placeholder':'Teléfono'} })}}
                        <p class="help-block alert-danger">{{form_errors(formMail.telefono)}}</p> 
                    </div>
                    <div class="form-group">
                        {{form_widget(formMail.mensaje, { 'attr': {'class': 'form-control', 'placeholder':'Mensaje'} })}}
                        <p class="help-block alert-danger">{{form_errors(formMail.mensaje)}}</p> 
                    </div>
                    {{form_widget(formMail._token)}} 
                    <button type="submit" class="btn btn-default btn-xl btnblue wow bounceIn">Enviar</button>
                </form>

            </div>
            <div class="col-md-6">
                <div class="col-xs-12">
                    <i class="fa fa-location-arrow fa-2x wow bounceIn col-xs-2 col-sm-1"></i>
                    <h4 class="col-xs-10">Km 2 v&iacute;a Pueblo Tapao-La Tebaida</h4>
                </div>
                <div class="col-xs-12">
                    <i class="fa fa-phone fa-2x wow bounceIn col-xs-2 col-sm-1"></i>
                    <h4 class="col-xs-10">316 750 2208</h4>
                </div>
                <div class="col-xs-12">
                    <i class="fa fa-envelope-o fa-2x wow bounceIn col-xs-2 col-sm-1" data-wow-delay=".1s"></i>
                    <h4 class="col-xs-10">
                        <a href="mailto:puppyhome07@gmail.com">Puppyhome07@gmail.com</a>
                    </h4>
                </div>
            </div>
            <hr class="foothr">
            <div class="text-center">
                ©2015 puppyhome Desarollo Web :: <a href="http://openpixel.co/" target="_blank" style="color: #77BEBE">openpixel.co</a> </div>
        </div>
    </div>
</section>
