<head> 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {%  endblock %}</title>
    <meta name="description" content="" />
    <meta name="keywords" content="mobile" />
    <meta name="author" content="Kijho" />
    <link rel="shortcut icon" href="favicon.ico">   
    {#    <link type="image/png" sizes="16x16" href="{{ asset('bundles/frontend/img/favicon.png') }}" rel="shortcut icon">#}
    {% stylesheets filter='?yui_css,css_url_rewrite'
            '@FrontendBundle/Resources/public/css/bootstrap.min.css'
            '@FrontendBundle/Resources/public/css/creative.css'
            '@FrontendBundle/Resources/public/font-awesome/css/font-awesome.min.css'        
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}   
</head>
