<head> 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="pets, dogs, love">
    <meta name="author" content="">
    {% block metatags %}
    {%  endblock %}    
    {#    <link type="image/png" sizes="16x16" href="{{ asset('bundles/frontend/img/favicon.png') }}" rel="shortcut icon">#}
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('bundles/frontend/img/apple-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('bundles/frontend/img/apple-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('bundles/frontend/img/apple-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('bundles/frontend/img/apple-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('bundles/frontend/img/apple-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('bundles/frontend/img/apple-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('bundles/frontend/img/apple-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('bundles/frontend/img/apple-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('bundles/frontend/img/apple-icon-180x180.png') }}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ asset('bundles/frontend/img/android-icon-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('bundles/frontend/img/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('bundles/frontend/img/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('bundles/frontend/img/favicon-16x16.png') }}">
    {% stylesheets filter='?yui_css,css_url_rewrite'
            '@FrontendBundle/Resources/public/css/bootstrap.min.css'
            '@FrontendBundle/Resources/public/font-awesome/css/font-awesome.min.css'
            '@FrontendBundle/Resources/public/css/animate.min.css'
            '@FrontendBundle/Resources/public/css/styles.css'
            '@FrontendBundle/Resources/public/css/creative.css'          
            '@FrontendBundle/Resources/public/css/responsive.css'          
            '@FrontendBundle/Resources/public/css/lightbox.css'         
    %}
    <link rel="stylesheet" type="text/css" href="/bundles/frontend/fancybox/jquery.fancybox.css">
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}  
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <title>PuppyHome | Bienvenidos </title>
</head>
