<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">
                <img src="{{ asset('bundles/frontend/img/logo.png')  }}" class="wow bounceIn logotype" alt="puppyhome">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul id="navbardinamic" class="nav navbar-nav navbar-right">
                <li id="aboutli">
                    <a class="page-scroll about" href="{% if page is defined %}javascript:void(0){% else %}{{path('frontend_homepage',{'pageJump' : 'about'})}}{% endif %}">Quienes Somos</a>
                </li>
                <li id='servicesli'>
                    <a class="page-scroll services" href="{% if page is defined %}javascript:void(0){% else %}{{path('frontend_homepage',{'pageJump' : 'services'})}}{% endif %}">Como Comprar</a>
                </li>
                <li id='portfolioli'>
                    <a class="page-scroll portfolio" href="{% if page is defined %}javascript:void(0){% else %}{{path('frontend_homepage',{'pageJump' : 'portfolio'})}}{% endif %}">Galería</a>
                </li>
                <li id='testimonialli'>
                    <a class="page-scroll testimonial" href="{% if page is defined %}javascript:void(0){% else %}{{path('frontend_homepage',{'pageJump' : 'testimonial'})}}{% endif %}">testimonios</a>
                </li>
                <li id='contactli'>
                    <a class="page-scroll contact" href="{% if page is defined %}javascript:void(0){% else %}{{path('frontend_homepage',{'pageJump' : 'contact'})}}{% endif %}">Contacto</a>
                </li>
                <div class="nav2">
                    <a href="{{path('frontend_cotizarRazas')}}" class="btn btn-default btnfux wow bounceIn">Cotizar Razas</a>
                    <a href="https://www.facebook.com/Puppyhome07" target="_blank" class="rds wow bounceIn"><i class="fa fa-facebook"></i></a>
                    <a href="https://www.instagram.com/puppyhomecol/" target="_blank" class="rds wow bounceIn"><i class="fa fa-instagram"></i></a>
                    <a href="mailto:puppyhome07@gmail.com" target="_blank" class="rds wow bounceIn"><i class="fa fa-envelope"></i></a>
                </div>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>