{% extends 'BackendBundle:Default:main.html.twig' %}
{% import 'BackendBundle:Default:modalfilemanager.html.twig' as filemanagerbutton %}
{% block content %}  

    {#    <input type="hidden" id="proId" value="{{ entity.id }}"></input>#}
    <div class="row">
        <div class="col-lg-12">
            <h1>Editar Imagen</h1>
            <ol class="breadcrumb">
                <li class="active"><i class="fa fa-folder-o"></i> Imagen</li>
                <li class="active"><i class="fa fa-folder-o"></i> {{entity.nombre}} </li>
                <li class="active"><i class="fa fa-folder-o"></i> Editar </li>
            </ol>
            <div class=container-buttons>
                <a class="btn btn-primary pull-right" href="{{ path('backend_gallery_index') }}"><i class="fa fa-list white"></i> Volver a la lista</a>
            </div>                
        </div>
    </div>

    <div class="row">       
        <div class="col-md-12">
            {{ form_start(edit_form)}}            
            <div class="form-group">
                {{form_label(edit_form.nombre,'Nombre')}}
                {{form_widget(edit_form.nombre, { 'attr': {'class': 'form-control'} })}}
                <p class="help-block alert-danger">{{form_errors(edit_form.nombre)}}</p>
            </div>           

            <div class="form-group">
                {{form_label(edit_form.imagenPath, null)}}
                <div class="input-group input-group-sm">
                    {{form_widget(edit_form.imagenPath, { 'attr': {'readonly': 'readonly', 'class': 'form-control'} })}}
                    {{ filemanagerbutton.filemanagerbutton('mymodal', 'puppy_home_raza_imagenPath') }}
                </div>
                <p class="help-block alert-danger">{{form_errors(edit_form.imagenPath)}}</p>
            </div>

            <div class="form-group">
                {{form_label(edit_form.descripcion, null)}}
                {{form_widget(edit_form.descripcion, { 'attr': {'class': 'form-control'} })}}
                <p class="help-block alert-danger">{{form_errors(edit_form.descripcion)}}</p>
            </div>  


            <ul class="record_actions">
                <lo>
                    <a title="Volver" href="{{ path('backend_gallery_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left "></i> Volver</a>
                </lo>       
                <lo>
                    {{form_widget(edit_form.submit, { 'attr': {'class': 'btn btn-success'} })}}
                    {{ form_widget(edit_form._token) }} 
                    {{ form_end(edit_form)}}
                </lo>          
            </ul>
        </div>            
    {% endblock %}
    {% block scripts %}
    {% endblock %}