.widget_container {
		padding:7px;
		margin-bottom:20px;
		}
			
		.widget_container .well {
				-webkit-border-radius: 0px;
				-moz-border-radius:  0px;
				border-radius: 0px;
				margin-bottom:0;
				display:inline-block;
				width: 100%;
				padding: 6px;
		}
		.img_round {
		position: relative;
		overflow: hidden;
		margin: 0 10px 10px 0;
		padding: 7px;
		width:90px;
		height:90px;
		float:left;
	}
	.img_round img {
		width:80px;
		height:80px;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
	}

	.img_round:after, .img_round:before {
		content: "";
		position: absolute;
		z-index: 2;
		top: 3px;
		left: 3px;
		right: 3px;
		bottom: 3px;
		border: 1px solid #999; 
		
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		
		-webkit-box-shadow:  0px 1px 1px 1px #bbb; 
		-moz-box-shadow:  0px 1px 1px 1px #bbb; 
		box-shadow:  0px 1px 1px 1px #bbb; 
	} 

	.img_round:after {
		z-index: 1;
		border: 5px solid #fff;   
	}
.login {
	width: 50%;
	margin: 2% auto;
}
@media only screen and (max-width : 651px) {
.login {
	width: 80%;
	margin: 2% auto;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	padding-left: 0; 
	padding-right: 0;
}
.img_round {
    display: inline-block;
    float: none;
    margin: 10px auto -10px;
    width: 90px;
}
.label {
    display: inline-block;
    font-size: 95%;
    padding: 5px;
    width: 100%;
}
}

.nav-tabs > li {
    float: left;
    margin-bottom: -1px;
}
.nav-tabs.nav-justified > li {
    display: inline-block;
    float: left;
    width: 50%;
}
.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:focus {
    border-bottom-color: #fff;
}
.nav-tabs > li > a {
    border-bottom: 1px solid #ddd;
}
.nav-tabs.nav-justified > li > a {
    border-radius: 4px 4px 0 0;
    margin-right: 0;
}
@media only screen and (max-width : 480px) {
.login {
	width: 100%;
	margin: 2% auto;
}
.nav-tabs.nav-justified > li {
    display: block;
    float: none;
    width: 100%;
}
.nav-tabs > li > a {
	border: 1px solid #ddd;
	border-radius: 4px;
}
.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:focus {
	border-color: #ddd;
	border-radius: 4px;
}
.nav-tabs.nav-justified > li > a {
    border-radius: 4px;
    margin-right: 0;
}
.btn-r {
	width: 100%;
}
}
.h40 {
    height: 40px;
}
.nlblk {
    display: inline-block;
    width: 100%;
}