{% extends 'FrontendBundle:Default:mainFancy.html.twig' %}
{% block title %} {%  endblock %}
{% block content %}

    <div class="col-sm-12 text-center">
        Asesoría directa para selección, venta y post-venta.<br>
        Cachorro entre 1 mes 1/2 y 2 meses 1/2de edad.<br>
        Le mostramos el cachorro en la ciudad de Armenia sin ningún compromiso. (Para Armenia es presencial y fuera de Armenia, por medio de fotos).
        Primera vacuna Bivalente NOBIVAC PUPPY DP. (La vacuna de mayor protección en la actualidad). Con certificado de vacunación con firma, sello y registro veterinario.<br>
        Garantía de salud 5 días después de la entrega, por enfermedades de tipo viral parasitario y bacteriano.<br>
        Garantía escrita de pureza de la raza vitalicia, certificado por Puppy Home y firmada por un médico veterinario.<br>
        Enviamos su cachorro vía aérea o terrestre desde Armenia a cualquier ciudad o municipio del territorio Colombiano.<br>
    </div>



{% endblock %}
{% block script %}    
{% endblock %}
