{% extends 'FrontendBundle:Default:mainFancy.html.twig' %}
{% block title %} {%  endblock %}
{% block content %}
 <div id="informacion">
    <div class="col-sm-7">
        {% if slider is not empty %}
        <div id="carousel" class="carousel slide carousel-fade slideraza" data-ride="carousel">
            <!-- Carousel items -->
            <div class="carousel-inner">               
                <div class="active item"><img src="{{ slider.imagenPathUno}}" alt="{{ slider.nombreUno}}"/></div>
                <div class="item"><img src=" {{ slider.imagenPathDos}}" alt="{{ slider.nombreDos}}"/></div>
                <div class="item"><img src="{{ slider.imagenPathTres}}" alt="{{ slider.nombreTres}}"/></div>                
            </div>
            <!-- Carousel nav -->
            <a class="carousel-control left" href="#carousel" data-slide="prev"></a>
            <a class="carousel-control right" href="#carousel" data-slide="next"></a>
        </div>
        {% endif %}
        <div class="col-sm-12 text-center">
            <a style="width: auto; visibility: visible; animation-name: bounceIn;" 
               class="btn btn-xl btnfux wow bounceIn btnCotizar" href="javascript:void(0)">Cotizar</a>
        </div>
    </div>

    <div class="col-sm-5">
        <div class="img_round rounfan"><img src="{{ entity.imagenPath}}" alt=""></div>
        <div style="visibility: visible; animation-name: bounceIn;" class="btn btnrz wow bounceIn col-xs-12">{{ entity.nombre }}</div>
    </div>
    <div class="col-sm-12">
        <h5>Cantidad de cachorros disponibles: </h5>
        <span>{{ entity.cantidadCachorros}}</span>        
        {{ entity.descripcion | raw }}
    </div>
 </div>
    <!--formulario que aparece despues de dar click en cotizar -->

    <div class="col-sm-12" id="formulario" style="display:none">
        <h2 class="section-heading text-center">Cotizar {{ entity.nombre }}</h2>
        <hr class="primary">
        {#        <form role="form wow bounceIn">#}
        <form role="form wow bounceIn" action="{{path('frontend_fancy_agregar_cotizacion', {'id': entity.id})}}" method="post" {{form_enctype(form)}} >

            <div class="form-group">
                {{form_widget(form.nombreCompleto, { 'attr': {'class': 'form-control', 'placeholder':'Nombre Completo'} })}}
                <p class="help-block alert-danger">{{form_errors(form.nombreCompleto)}}</p>  
            </div>
            <div class="form-group">
                {{form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder':'Correo Electrónico'} })}}
                <p class="help-block alert-danger">{{form_errors(form.email)}}</p>  
            </div>
            <div class="form-group">
                {{form_widget(form.telefono, { 'attr': {'class': 'form-control', 'placeholder':'Teléfono'} })}}
                <p class="help-block alert-danger">{{form_errors(form.telefono)}}</p>  
            </div>
            <div class="form-group">
                {{form_widget(form.direccion, { 'attr': {'class': 'form-control', 'placeholder':'Dirección'} })}}
                <p class="help-block alert-danger">{{form_errors(form.direccion)}}</p>  
            </div>
            <div class="form-group">                
                {{form_widget(form.mensaje, { 'attr': {'class': 'form-control', 'placeholder':'Mensaje '} })}}
                <p class="help-block alert-danger">{{form_errors(form.mensaje)}}</p>  
            </div>
            {{form_widget(form._token)}} 
            <button class="btn btn-default btn-xl btnblue wow bounceIn" type="submit" style="visibility: visible; animation-name: bounceIn;">Enviar</button>
        </form>
    </div>
            
    <!-- aviso que aparece para agradecer el envio de l formulario -->

    <div class="col-sm-12 text-center" id="gracias" style="display:none">
        <img src="{{ asset('bundles/frontend/img/header.jpg')  }}" class="img-responsive"/>
        <p>En las pr&oacute;ximas 24 horas recibirá nuestro correo con la información que usted está solicitando, 
            gracias por darnos la oportunidad de atenderlo, </p>
        <p>Le responderemos lo m&aacute;s pronto posible </p>
    </div>

{% endblock %}
{% block script %}
    {# <script>#}
    $('.btnCotizar').click(function () {
    document.getElementById("informacion").style.display = "none"
    document.getElementById("formulario").style.display = "block"
    
    });

    {% if salto is defined and salto == true %}
        document.getElementById("informacion").style.display = "none"
        document.getElementById("formulario").style.display = "none"
        document.getElementById("gracias").style.display = "block"               
        setTimeout(function(){  window.parent.$.fancybox.close(); }, 8000);    
    {% elseif salto is defined and salto == false %}
        document.getElementById("informacion").style.display = "none"        
        document.getElementById("formulario").style.display = "block"
        {# $.scrollTo('#formulario', 800, {offset: function () {
         return {top: -45};
         }});#}
    {% endif %}
{% endblock %}
