{% extends 'FrontendBundle:Default:mainFancy.html.twig' %}
{% block title %} {%  endblock %}
{% block content %}
    
        <!--formulario de testimonio -->

        <div class="col-sm-12" id="formulario">
            <h2 class="section-heading text-center">Publica tu testimonio</h2>
            <hr class="primary">
            <p>Hablamos de tu experiencia con puppy home</p>
            <form role="form wow bounceIn"  action="{{path('frontend_fancy_agregar_testimonio')}}" method="post" {{form_enctype(form)}}>
                <div class="form-group">
                    {{form_widget(form.nombreCompleto, { 'attr': {'class': 'form-control', 'placeholder':'Nombre y Apellido'} })}}
                    <p class="help-block alert-danger">{{form_errors(form.nombreCompleto)}}</p> 
                </div>
                <div class="form-group">
                    {{form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder':'Email'} })}}
                    <p class="help-block alert-danger">{{form_errors(form.email)}}</p> 
                </div>
                <div class="form-group">
                    {{form_widget(form.mensaje, { 'attr': {'class': 'form-control', 'placeholder':'Mensaje'} })}}
                    <p class="help-block alert-danger">{{form_errors(form.mensaje)}}</p>                 
                </div>
                {{form_widget(form._token)}} 
                <button class="btn btn-default btn-xl btnblue wow bounceIn" type="submit" style="visibility: visible; animation-name: bounceIn;">Enviar</button>
            </form>

        </div>

        <!-- aviso que aparece para agradecer el envio del testimonio -->

        <div class="col-sm-12 text-center" id="gracias" style="display:none">
            <img src="{{ asset('bundles/frontend/img/header.jpg')  }}" class="img-responsive"/>
            <p>Gracias por compartir tu testimonio, este se ha enviado a nuestra base de datos para publicarse.</p>
        </div>

    

{% endblock %}
{% block script %}  

    {% if salto is defined and salto == true %}
        document.getElementById("formulario").style.display = "none"
        document.getElementById("gracias").style.display = "block"               
        setTimeout(function(){  window.parent.$.fancybox.close(); }, 7000);    
    {% endif %}
    
{% endblock %}
