{% extends 'FrontendBundle:Default:main.html.twig' %}
{% block metatags %}
{%  endblock %}

{% block content %}

    <header id="carousel" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carousel" data-slide-to="0" class="active"></li>
            <li data-target="#carousel" data-slide-to="1"></li>
            <li data-target="#carousel" data-slide-to="2"></li>
            <li data-target="#carousel" data-slide-to="3"></li>
        </ol>
        <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="active item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#carousel" data-slide="prev"></a>
        <a class="carousel-control right" href="#carousel" data-slide="next"></a>
    </header>
    <div class="ola"></div>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">¿Quienes Somos?</h2>
                    <hr class="fux">
                    <p>
                        Somos una familia colombiana que ha convivido con perros desde la infancia, 
                        el primer regalo que pidió nuestra hija de navidad fue un perro, desde esto hemos vivido 
                        siempre acompañados por el amor incondicional de nuestro mejor amigo. 
                        A partir de esto nace la idea de abrir una empresa de crianza canina con el fin de brindarle una asesoría 
                        al cliente para encontrar su cachorro perfecto el cual cumpla con 
                        las características eficientes de una excelente genética, carácter, y comportamiento. Así mismo el poder llevar a sus hogares el amigo más leal 
                        para el ser humano el cual nos brinda una amistad y amor incondicional, tu perro.
                        Contamos con una plataforma web para el proceso de compra virtual de mascotas, fácil.
                    </p>
                    <a href="{{path('frontend_nosotros')}}" class="btn btn-default btn-xl btnblue wow bounceIn">Saber Más</a>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">¿C&oacute;mo Comprar?</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="panel col-sm-12 box">
                        <h3>Paso 1 <img alt="puppyhome" class="wow bounceIn" src="{{ asset('bundles/frontend/img/printh2.png')  }}" style="visibility: visible; animation-name: bounceIn;"></h3>
                        <div class="col-sm-6">
                            <img alt="puppyhome" class="wow bounceIn img-responsive" src="{{ asset('bundles/frontend/img/stp1.jpg')  }}" style="visibility: visible; animation-name: bounceIn;">
                        </div>
                        <div class="col-sm-6">
                            <p>Ten en cuenta cual es la raza ideal para ti y tu hogar con las siguientes pautas:
                            </p>
                            <ul class="ulsetp">
                                <li>
                                    <img src="{{ asset('bundles/frontend/img/ico1.jpg')  }}" alt="temperamento"> Temperamento
                                </li>
                                <li>
                                    <img src="{{ asset('bundles/frontend/img/ico2.jpg')  }}" alt="Tamaño"> Tamaño
                                </li>
                                <li>
                                    <img src="{{ asset('bundles/frontend/img/ico3.jpg')  }}" alt="Tipo de vivienda"> Tipo de vivienda
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel col-sm-12 box">
                        <h3>Paso 2 <img alt="puppyhome" class="wow bounceIn" src="{{ asset('bundles/frontend/img/printh2.png')  }}" style="visibility: visible; animation-name: bounceIn;"></h3>
                        <div class="col-sm-6">
                            <img alt="puppyhome" class="wow bounceIn img-responsive" src="{{ asset('bundles/frontend/img/stp2.jpg')  }}" style="visibility: visible; animation-name: bounceIn;">
                        </div>
                        <div class="col-sm-6">
                            <p>Analiza las razas, y has click en el botón Cotizar en la que desees consultar.
                            </p>
                            <ul class="ulsetp">
                                <li>
                                    <img src="{{ asset('bundles/frontend/img/btn1.jpg')  }}" alt="paso 2">
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel col-sm-12 box">
                        <h3>Paso 3 <img alt="puppyhome" class="wow bounceIn" src="{{ asset('bundles/frontend/img/printh2.png')  }}" style="visibility: visible; animation-name: bounceIn;"></h3>
                        <div class="col-sm-6">
                            <img alt="puppyhome" class="wow bounceIn img-responsive" src="{{ asset('bundles/frontend/img/stp2.jpg')  }}" style="visibility: visible; animation-name: bounceIn;">
                        </div>
                        <div class="col-sm-6">
                            <p>Ingresa tus datos personales, y haz click en el botón Enviar.</p>
                            <img src="{{ asset('bundles/frontend/img/form.jpg')  }}" class="img-responsive" alt="paso 3">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel col-sm-12 box">
                        <h3>Paso 4 <img alt="puppyhome" class="wow bounceIn" src="{{ asset('bundles/frontend/img/printh2.png')  }}" style="visibility: visible; animation-name: bounceIn;"></h3>
                        <div class="col-sm-6">
                            <img alt="puppyhome" class="wow bounceIn img-responsive" src="{{ asset('bundles/frontend/img/stp4.jpg')  }}" style="visibility: visible; animation-name: bounceIn;">
                        </div>
                        <div class="col-sm-6">
                            <p>Espera nuestra respuesta con la información de la cotización que solicitaste
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter">
                {% for galerias in galeria %}
                    <div class="col-lg-4 col-sm-6 wow bounceIn hid">
                        <a href="{{ galerias.imagenPath }}" data-lightbox="example-set" title="{{ galerias.descripcion }}" class="portfolio-box">
                            <img src="{{ galerias.imagenPath }}" class="picgal" alt="">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        {{ galerias.nombre }}
                                    </div>
                                    <div class="project-name">
                                        {{ galerias.descripcion }}
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div> 
                {% endfor %}         
            </div>
        </div>
        <div class="wellbl text-center"><a class="btn btn-default btn-xl btnfux" href="{{path('frontend_full_gallery')}}">Ver m&aacute;s fotos</a></div>
    </section>

    <aside id="testimonial" class="bg-dark">
        <div class="quote-container">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="testi">
                            <h2 class="section-heading">Testimonio</h2>
                            <hr class="fux">                           
                            <div class="quote-slideshow">
                                {% set firtsclass = true %}
                                {% for testimonio in testimonios %}
                                    {% if testimonio is defined and testimonio.estado == true %} 
                                        <figure {%if firtsclass %}{% set firtsclass = false %}class="show"{%endif%}>
                                            <h2>{{ testimonio.mensaje }}</h2>
                                            <figcaption>{{ testimonio.nombreCompleto | title }}</figcaption>
                                        </figure> 
                                    {% endif %} 
                                {% endfor %} 
                            </div>                              
                            <div class="wellb2 text-center  "><a class="btn btn-default btn-xl btnbeige fancybox" title="Testimonio" href="{{path('frontend_fancy_testimonio')}}">Danos tu testimonio</a></div>
                        </div>
                        <span class="quote-prev circle"><i class="fa fa-angle-left fa-2x"></i></span>
                        <span class="quote-next circle"><i class="fa fa-angle-right fa-2x"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </aside>




{% endblock %}
{% block script %}
    {#    <script>#}

    var cookiename = getCookie("cookiename");

    if (cookiename == "value") {

    } else {

    document.cookie = "cookiename=value; expires=0; path=/";
    $.ajax({
    type: 'POST',
    url: "{{path('new_page_view')}}",
    dataType: 'json',
    async: false,
    success: function (resp)
    {
    if (resp.result == '__OK__')
    {

    }
    }
    });
    }
    //function getCookie        
    function getCookie(cname) {
    var name = cname + "=";
    var ca = document.cookie.split(';');
    for (var i = 0; i < ca.length; i++) {
    var c = ca[i];
    while (c.charAt(0) == ' ')
    c = c.substring(1);
    if (c.indexOf(name) != -1)
    return c.substring(name.length, c.length);
    }
    return "";
    }


    {#    scroll navegacion de home#}
    $('.about').click(function () {
    $.scrollTo('#about', 800, {offset: function () {
    return {top: -45};
    }});
    });
    $('.services').click(function () {
    $.scrollTo('#services', 800, {offset: function () {
    return {top: -40};
    }});
    });
    $('.portfolio').click(function () {
    $.scrollTo('#portfolio', 800, {offset: function () {
    return {top: -40};
    }});
    });
    $('.testimonial').click(function () {
    $.scrollTo('#testimonial', 800, {offset: function () {
    return {top: -55};
    }});
    });
    $('.contact').click(function () {
    $.scrollTo('#contact', 800, {offset: function () {
    return {top: -55};
    }});
    });

    {#    scroll dependiendo salto de pagina#}
    {% if pageJump is defined and pageJump != null %}
        if (screen.width < 1024)
        setTimeout(function () {
        $.scrollTo('#{{pageJump}}', 800, {offset: function () {
        return {top: -55};
        }});
        }, 6000);
        else
        if (screen.width < 1280)
        setTimeout(function () {
        $.scrollTo('#{{pageJump}}', 800, {offset: function () {
        return {top: -55};
        }});
        }, 6000);
        else
        setTimeout(function () {
        $.scrollTo('#{{pageJump}}', 800, {offset: function () {
        return {top: -55};
        }});
        }, 2000);
    {% endif %}

    $(function () {

    // obtenemos el height + padding de la sección 1
    var altoSeccion1 = $("#about").position().top + 15

    // obtenemos el height + padding de la sección 2
    // y le sumamos el de la sección 1
    var altoSeccion2 = $("#services").position().top + 15

    // obtenemos el height + padding de la sección 3
    // y le sumamos el las secciones anteriores
    var altoSeccion3 = $("#portfolio").position().top + 15

    // obtenemos el height + padding de la sección 4
    // y le sumamos el las secciones anteriores
    var altoSeccion4 = $("#testimonial").position().top + 15
    // obtenemos el height + padding de la sección 5
    // y le sumamos el de las secciones anteriores
    var altoSeccion5 = $("#contact").position().top 

    // cada vez que se produzca scroll en la ventana
    $(window).scroll(function (event) {

    // scrollTop la posición del elemento
    height = $(event.target).scrollTop();
    // dependiendo el lugar de la pantalla
    // modificamos la clase del nav
    // par cambiar su active
    if (height >= altoSeccion1 && height < altoSeccion2) {
    $('#navbardinamic').children('li').removeClass('active');
    $('#aboutli').addClass('active');
    } else if (height >= altoSeccion2 && height < altoSeccion3) {
    $('#navbardinamic').children('li').removeClass('active');
    $('#servicesli').addClass('active');
    } else if (height >= altoSeccion3 && height < altoSeccion4) {
    $('#navbardinamic').children('li').removeClass('active');
    $('#portfolioli').addClass('active');
    } else if (height > altoSeccion4 && height < altoSeccion5) {
    $('#navbardinamic').children('li').removeClass('active');
    $('#testimonialli').addClass('active');
    } else if (height >= altoSeccion5) {
    $('#navbardinamic').children('li').removeClass('active');
    $('#contactli').addClass('active');
    }
    else {
    $('#navbardinamic').children('li').removeClass('active');
    }
    });
    });

    $(".fancybox").fancybox({
    'type': 'iframe',
    autoSize: false,
    height: '80%',
    afterClose: function () {
    // USE THIS IT IS YOUR ANSWER THE KEY WORD IS "afterClose"
    {#            window.location.reload();#}
    },
    helpers: {
    overlay: {closeClick: false} //Disable click outside event
    }
    });

{%endblock%}
