<!doctype html> 
<html>
    {% include 'FrontendBundle:Default/includes:head.html.twig' %} 
    <body id="page-top">       
        {% include 'FrontendBundle:Default/includes:nav.html.twig' %}
        {% block content %}

        {% endblock %}
        {% include 'FrontendBundle:Default/includes:contact.html.twig' %}
        {%javascripts             
        '@FrontendBundle/Resources/public/js/jquery-1.11.0.js'     
        '@FrontendBundle/Resources/public/js/bootstrap.min.js'      
        '@FrontendBundle/Resources/public/js/jquery.easing.min.js'        
        '@FrontendBundle/Resources/public/js/jquery.fittext.js'         
        '@FrontendBundle/Resources/public/js/wow.min.js' 
        %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
        {% endjavascripts %}  
        <script>
            $('.carousel').carousel();
        </script>
        <script src="/bundles/frontend/js/scripts.js"></script>
        <script src="/bundles/frontend/js/lightbox.js"></script>
        <script src="/bundles/frontend/js/jqueryscrollto/jquery.scrollTo.js"></script>
        <script src="/bundles/frontend/js/creative.js"></script>
        <script src="/bundles/frontend/fancybox/jquery.fancybox.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
            {% block script %}
            {% endblock %}
                });
        </script>
    </body>
</html> 
