{% extends 'FrontendBundle:Default:main.html.twig' %}
{% block metatags %}
{%  endblock %}
{% block content %}
    <header id="staticpic">
    </header>
    <div class="ola2"></div>
    <section class="bg-primary" id="company">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="section-heading text-center">Nuestra Empresa</h2>
                    <hr class="fux">
                    <div class="col-md-6 text-justify">
                        <h4>MISI&Oacute;N</h4>
                        <p>Nuestra misión es lograr criar perros en un ambiente de familia, y niños para que los perros sean cariñosos, amigables, tengan buena relación con los demás animales y humanos, para establecer una relación de mucha cercanía y confianza, entre el nuevo dueño y el ejemplar.Al mismo, dar a nuestros clientes ejemplares de calidad, basándonos en los Standard de las razas, perfeccionando las mismas cada día.</p>

                        <p>Al trabajar con seres vivos intentamos que para los interesados, entiendan lo que significa adquirir un ejemplar, esta decisión conlleva una responsabilidad muy grande a sus hogares que la única intención es llenarlos de amor y felicidad. Es por esto que procuramos brindar una asesoría sobre todo lo relacionado con la raza y con el cachorro; es nuestro deber ser siempre sinceros y transparentes al momento de vender un ejemplar brindando la información (tanto es los aspectos positivos como en los negativos) requeridos de su raza.</p>
                    </div>
                    <div class="col-md-6 text-justify">
                        <h4>VISI&Oacute;N:</h4>
                        <p>Ser un criadero líder, aplicando y criando las mejores condiciones en las áreas de crianza, brindando cachorros en excelente estado de salud, y genética canina a un alto nivel, para poder ser identificados como símbolo de honestidad y excelencia.</p>


                        <h4>Valores</h4>
                        <p>Criadero puppy home es una empresa familiar que se enfoca en ofrecer y garantizar un servicio a nuestros clientes  de alta calidad y confiabilidad. Promulgamos los siguientes valores:</p>
                        <ul>
                            <li>Calidad: En todos los ámbitos, de cada uno de los proyectos que realizamos.</li>
                            <li>Puntualidad: En el cuidado, entrega, e información a nuestros clientes y proveedores.</li>
                            <li>Coherencia: Entre lo que nos comprometemos con nuestros clientes y lo que efectuamos como trabajo.</li>
                            <li>Comunicación: Constante y efectiva, entre los miembros de nuestro criadero, así con nuestros clientes y proveedores.</li>
                            <li>Confianza: En que realizaremos nuestras labores de la mejor manera, como resultado la satisfacción de nuestros clientes.</li>
                            <li>Compromiso: Con nuestros clientes, proveedores, y nuestra familia para poder brindar un servicio de calidad.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section> 
{% endblock %}
{% block script %}    
{% endblock %}
