{% extends 'BackendBundle:Default:main.html.twig' %}

{% block content %}

    <h1>Lista De Testimonios</h1>
    <div class="row">
        <div class="col-lg-10">
            <div class="table-responsive">
                <table class="table table-bordered table-hover tablesorter">

                    <thead>
                        <tr>                            
                            <th style="width: 14%">Nombre</th>
                            <th style="width: 21%">Email</th>                           
                            <th style="width: 25%">Mensaje</th>
                            <th style="width: 15%">Estado</th>
                            <th style="width: 25%">Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="idTableTesti" class="sortable">
                        {% for entity in entities %}
                            <tr id="testi-{{ entity.id }}">                                
                                <td class="handle" style="cursor: move;">{{ entity.nombreCompleto | title}}</td>
                                <td class="handle" style="cursor: move;">{{ entity.email }}</td>
                                <td class="handle" style="cursor: move;">{{ entity.mensaje }}</td>
                                {% if entity.estado == false %}
                                <td class="handle" style="cursor: move;">Sin Aprobar</td>
                                {% else %}
                                <td class="handle" style="cursor: move;">Aprobado</td>    
                                {% endif %}    
                                <td>
                                    <ul>
                                        <lo>                                            
                                            <a title="Aprobar Testimonio" entity-id='{{entity.id}}' class="btn btn-success aprobarItem" href="javascript:void(0);">Aprobar</a>
                                        </lo>
                                        <lo>
                                            <a title="Eliminar" class="btn btn-danger removeItem" entity-id='{{entity.id}}' href="javascript:void(0);">Eliminar</a>
                                        </lo>                            
                                                                    
                                    </ul>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="5">No hay testimonios agregados</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if  entities | length >8  %}
                    <ul id="paginate_elements">
                        {% if paginator.currentPage > 1 %}
                            <lo><a href="{{ path('backend_razas', {'page': paginator.previousPage}) }}">Anterior</a></lo>
                            {% else %}
                            <lo class="left_disabled"><a href="#">Anterior</a></lo>
                            {% endif %}

                        {% for page in paginator.minPageInRange..paginator.maxPageInRange %}
                            {% if page == paginator.currentPage %}
                                <lo><a class="current" href="#">{{ page }}</a></lo>
                                {% else %}
                                <lo><a href="{{ path('backend_razas', {'page': page}) }}">{{ page }}</a></lo>
                                {% endif %}
                            {% endfor %}

                        {% if paginator.currentPage < paginator.lastPage %}
                            <lo class="right"><a href="{{ path('backend_razas', {'page': paginator.nextPage}) }}">Siguiente</a></lo>
                            {% else %}
                            <lo class="right_disabled">Siguiente</lo>
                            {% endif %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
{% block scripts %} 
{#    <script>#}
$("#idTableTesti").sortable({
    handle : '.handle',
    update : function(){
    $.ajax({
    type: 'POST',
    url: "{{path('backend_testimonio_order')}}",
    dataType: 'json',
    data: $("#idTableTesti").sortable('serialize'),
    
    success: function(resp) 
    {
    if(!resp.result=='__OK__')
    {
    bootbox.alert(resp.msg);
    }
    },
    error: function()
    {
    bootbox.alert('Error, intente de nuevo');
    }
    });
    }
    });
    
    $(".removeItem").click(function () {

    var object = $(this);
    var annotationId = object.attr('entity-id');
    bootbox.confirm({
    message: '¿Esta seguro que quiere eliminar este testimonio?',
    buttons: {
    'cancel': {
    label: 'Cancelar',
    className: 'btn-default'
    },
    'confirm': {
    label: 'Eliminar',
    className: 'btn-danger'
    }
    },
    callback: function (result) {
    if (result) {
    $.ajax({
    type: 'POST',
    url: "{{ path('backend_testimonio_delete')}}",
    dataType: 'json',
    data: 'id=' + annotationId,
    success: function (resp) {
    if (resp.result == '__OK__') {
    object.parent().parent().remove(); 
    location.reload(true); 
    } else {
    bootbox.alert(resp.msg);
    }
    },
    error: function ()
    {
    bootbox.alert('Error, try again')
    }

    });
    }
    }
    });
    });
    
     $(".aprobarItem").click(function () {

    var object = $(this);
    var annotationId = object.attr('entity-id');
    bootbox.confirm({
    message: '¿Desea aprobar este comentario para poder ser visualizado en la pagina?',
    buttons: {
    'cancel': {
    label: 'Cancelar',
    className: 'btn-default'
    },
    'confirm': {
    label: 'Aprobar',
    className: 'btn-success'
    }
    },
    callback: function (result) {
    if (result) {
    $.ajax({
    type: 'POST',
    url: "{{ path('backend_testimonio_succes')}}",
    dataType: 'json',
    data: 'id=' + annotationId,
    success: function (resp) {
    if (resp.result == '__OK__') {
    object.parent().parent().remove(); 
    location.reload(true); 
    } else {
    bootbox.alert(resp.msg);
    }
    },
    error: function ()
    {
    bootbox.alert('Error, try again')
    }

    });
    }
    }
    });
    });
{% endblock %}