{% extends 'BackendBundle:Default:main.html.twig' %}

{% block title 'Edit Image' %}
    {% block content %}

        <div class="row">
            <div class="col-lg-12">
                <h1>Editar Imagen</h1>
                <ol class="breadcrumb">
                    <li class="active"><i class="fa fa-folder-o"></i> Imagenes</li>
                    <li class="active"><i class="fa fa-folder-o"></i> Proyectos</li>
                    <li class="active"><i class="fa fa-folder-o"></i> Editar Imagen</li>
                </ol>
                <div class=container-buttons>
                    <a class="btn btn-primary pull-right" href="{{ path('backend_Project_list_images',{'id':image.project.id}) }}"><i class="fa fa-list white"></i>  Lista de Imagenes</a>
                </div>                
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">

                <form action="{{path('backend_project_list_images_update_image',{'id':image.id})}}" method="post">
                    <div class="form-group">
                        {{form_label(formImage.name,'Nombre')}}
                        {{form_widget(formImage.name, { 'attr': {'class': 'form-control'} })}}
                        <p class="help-block alert-danger">{{form_errors(formImage.name)}}</p>
                    </div>

                    <div class="form-group" >
                        {{form_label(formImage.description,'Descripción')}}
                        {{form_widget(formImage.description, { 'attr': {'class': 'form-control'} })}}
                        <p class="help-block alert-danger">{{form_errors(formImage.description)}}</p>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Guardar</button>

                    </div>
                    {{ form_widget(formImage._token) }} 
                </form>

            </div>


        </div>            
    {% endblock %}