{% extends 'BackendBundle:Default:main.html.twig' %}
{% import 'BackendBundle:Default:modalfilemanager.html.twig' as filemanagerbutton %}
{% block content %}  

{#    <input type="hidden" id="proId" value="{{ entity.id }}"></input>#}
    <div class="row">
        <div class="col-lg-12">
            <h1>Editar Raza</h1>
            <ol class="breadcrumb">
                <li class="active"><i class="fa fa-folder-o"></i> Raza</li>
                <li class="active"><i class="fa fa-folder-o"></i> {{entity.nombre}} </li>
                <li class="active"><i class="fa fa-folder-o"></i> Editar </li>
            </ol>
            <div class=container-buttons>
                <a class="btn btn-primary pull-right" href="{{ path('backend_razas_index') }}"><i class="fa fa-list white"></i> Volver a la lista</a>
            </div>                
        </div>
    </div>

   <div class="row">       
        <div class="col-md-6">
            {{ form_start(edit_form)}}            
            <div class="form-group">
                {{form_label(edit_form.nombre,'Nombre')}}
                {{form_widget(edit_form.nombre, { 'attr': {'class': 'form-control'} })}}
                <p class="help-block alert-danger">{{form_errors(edit_form.nombre)}}</p>
            </div>           

            <div class="form-group">
                {{form_label(edit_form.imagenPath, null)}}
                <div class="input-group input-group-sm">
                    {{form_widget(edit_form.imagenPath, { 'attr': {'readonly': 'readonly', 'class': 'form-control'} })}}
                    {{ filemanagerbutton.filemanagerbutton('mymodal', 'puppy_home_raza_imagenPath') }}
                </div>
                <p class="help-block alert-danger">{{form_errors(edit_form.imagenPath)}}</p>
            </div>          

            <div class="form-group">
                {{form_label(edit_form.tipo, null)}}
                {{form_widget(edit_form.tipo, { 'attr': {'class': 'form-control'} })}}
                <p class="help-block alert-danger">{{form_errors(edit_form.tipo)}}</p>
            </div> 
            
            <div class="form-group">
                {{form_label(edit_form.cantidadCachorros, 'Cachorros Disponibles')}}
                {{form_widget(edit_form.cantidadCachorros, { 'attr': {'class': 'form-control cantidadCachorros'} })}}
                <p class="help-block alert-danger">{{form_errors(edit_form.cantidadCachorros)}}</p>
            </div> 
        
        </div> 

        <div class="col-md-6">
            <div id="termtextarea" class="form-group"> 
                {{form_label(edit_form.descripcion, null)}}
                {{ form_widget(edit_form.descripcion) }}
            </div>
        </div>
    </div>   

    <ul class="record_actions">
        <lo>
            <a title="Volver" href="{{ path('backend_razas_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left "></i> Volver</a>
        </lo>       
        <lo>
            {{form_widget(edit_form.submit, { 'attr': {'class': 'btn btn-success'} })}}
            {{ form_widget(edit_form._token) }} 
            {{ form_end(edit_form)}}
        </lo>          
    </ul>
{% endblock %}
{% block scripts %}
    
      $(document).ready(function (){
          $('.cantidadCachorros').keyup(function (){
            this.value = (this.value + '').replace(/[^0-9]/g, '');
          });
        });

    tinymce.init({
    selector: "textarea",
    height: 300,
    plugins: [
    "advlist autolink autosave link image lists charmap print preview hr anchor pagebreak spellchecker",
    "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
    "table contextmenu directionality emoticons template textcolor paste fullpage textcolor colorpicker textpattern responsivefilemanager"
    ],
    toolbar1: "newdocument fullpage | bold italic underline strikethrough | alignleft aligncenter alignright alignjustify | styleselect formatselect fontselect fontsizeselect",
    toolbar2: "cut copy paste | searchreplace | bullist numlist | outdent indent blockquote | undo redo | link unlink anchor image media code | insertdatetime preview | forecolor backcolor",
    toolbar3: "table | hr removeformat | subscript superscript | charmap emoticons | print fullscreen | ltr rtl | spellchecker | visualchars visualblocks nonbreaking template pagebreak restoredraft",
    menubar: false,
    toolbar_items_size: 'small',
    style_formats: [
    {title: 'Bold text', inline: 'b'},
    {title: 'Red text', inline: 'span', styles: {color: '#ff0000'}},
    {title: 'Red header', block: 'h1', styles: {color: '#ff0000'}},
    {title: 'Example 1', inline: 'span', classes: 'example1'},
    {title: 'Example 2', inline: 'span', classes: 'example2'},
    {title: 'Table styles'},
    {title: 'Table row 1', selector: 'tr', classes: 'tablerow1'}
    ],
    relative_urls: false,
    external_filemanager_path: "{{ asset('bundles/backend/filemanager/') }}",
    filemanager_title: "Responsive Filemanager",
    external_plugins: {"filemanager": "{{ asset('bundles/backend/filemanager/plugin.min.js') }}"}
    });

{% endblock %}