{% extends 'BackendBundle:Default:main.html.twig' %}

{% block content %}

    <h1>Lista De Razas</h1>

    <div class="row">
        <div class="col-sm-12 col-md-3 col-lg-2 pull-right">   
            <a class="btn btn-success marbot cien" href="{{ path('razas_new') }}">
                Agregar Nueva Raza
            </a>
        </div>      

    </div> 
    <div class="row">
        <div class="col-lg-10">
            <div class="table-responsive">
                <table class="table table-bordered table-hover tablesorter">

                    <thead>
                        <tr>                            
                            <th style="width: 30%">Nombre</th>
                            <th style="width: 30%">Tipo de Raza</th>                           
                            <th style="width: 40%">Acciones</th>
                        </tr>
                    </thead>
                    <tbody >
                        {% for entity in entities %}
                            <tr>                                
                                <td><a href="">{{ entity.nombre }}</a></td>
                                <td>{{ entity.textTipo }}</td>
                                <td>
                                    <ul>
                                        <lo>
                                            <a title="Ver" href="{{ path('backend_razas_view', {'id': entity.id}) }}"><i class="fa fa-eye btn btn-default"></i></a>
                                        </lo>
                                        <lo>
                                            <a title="Editar"  href="{{ path('backend_razas_edit', {'id': entity.id}) }}"><i class="fa fa-pencil btn btn-default"></i></a>
                                        </lo>                             
                                        <lo>
                                            <a title="Agregar Imagenes Slider"  href="{{ path('backend_razas_new_image_slider_fancy',  {'id': entity.id}) }}"><i class="fa fa-image btn btn-default"></i></a>
                                        </lo>                             
                                        <lo>
                                            <a title="Eliminar"  entity-id='{{entity.id}}' href="javascript:void(0);" class="deleteRaza"><i class="fa fa-trash btn btn-danger "></i></a>
                                        </lo>                             
                                    </ul>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="5">No hay razas agregadas</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if  entities | length >8  %}
                    <ul id="paginate_elements">
                        {% if paginator.currentPage > 1 %}
                            <lo><a href="{{ path('backend_razas_index', {'page': paginator.previousPage}) }}">Anterior</a></lo>
                            {% else %}
                            <lo class="left_disabled"><a href="#">Anterior</a></lo>
                            {% endif %}

                        {% for page in paginator.minPageInRange..paginator.maxPageInRange %}
                            {% if page == paginator.currentPage %}
                                <lo><a class="current" href="#">{{ page }}</a></lo>
                                {% else %}
                                <lo><a href="{{ path('backend_razas_index', {'page': page}) }}">{{ page }}</a></lo>
                                {% endif %}
                            {% endfor %}

                        {% if paginator.currentPage < paginator.lastPage %}
                            <lo class="right"><a href="{{ path('backend_razas_index', {'page': paginator.nextPage}) }}">Siguiente</a></lo>
                            {% else %}
                            <lo class="right_disabled">Siguiente</lo>
                            {% endif %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
{% block scripts %} 
    
    $(".deleteRaza").click(function () {

        var object = $(this);
        var annotationId = object.attr('entity-id');
        console.log(annotationId);
        bootbox.confirm({
            message: '¿Esta seguro que quiere eliminar esta raza?',
            buttons: {
                'cancel': {
                    label: 'Cancelar',
                    className: 'btn-default'
                },
                'confirm': {
                    label: 'Eliminar',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
                if (result) {
                    $.ajax({
                        type: 'POST',
                        url: "{{ path('backend_razas_delete')}}",
                        dataType: 'json',
                        data: 'id=' + annotationId,
                        success: function (resp) {
                            if (resp.result == '__OK__') {
                                object.parent().parent().remove();
                                location.reload(true);
                            } else {
                                bootbox.alert(resp.msg);
                            }
                        },
                        error: function ()
                        {
                            bootbox.alert('Error, try again')
                        }

                    });
                }
            }
        });
    });
    {% endblock %} 