{% extends 'BackendBundle:Default:main.html.twig' %}
{% import 'BackendBundle:Default:modalfilemanager.html.twig' as filemanagerbutton %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <h1>Agregar imagenes de slider</h1>
            <div class=container-buttons>
                <a class="btn btn-primary pull-right" href="{{ path('backend_razas_index') }}"><i class="fa fa-list white"></i> Volver a la lista</a>
            </div>                
        </div>
    </div>

    <div class="row">       
        <div class="col-md-12">
            <form action="{{path('razas_add_slider', {'id': entities.id})}}" method="post" {{form_enctype(form)}} >
                <div class="col-md-6">
                    <div class="form-group">
                        {{form_label(form.nombreUno,'Nombre')}}
                        {{form_widget(form.nombreUno, { 'attr': {'class': 'form-control'} })}}
                        <p class="help-block alert-danger">{{form_errors(form.nombreUno)}}</p>
                    </div>

                    <div class="form-group">
                        {{form_label(form.nombreTres,'Nombre')}}
                        {{form_widget(form.nombreTres, { 'attr': {'class': 'form-control'} })}}
                        <p class="help-block alert-danger">{{form_errors(form.nombreTres)}}</p>
                    </div>                        

                    <div class="form-group">
                        {{form_label(form.nombreDos,'Nombre')}}
                        {{form_widget(form.nombreDos, { 'attr': {'class': 'form-control'} })}}
                        <p class="help-block alert-danger">{{form_errors(form.nombreDos)}}</p>
                    </div>   
                </div>           


                <div class="col-md-6">
                    <div class="form-group row">
                        {{form_label(form.imagenPathUno, null)}}
                        <div class="input-group input-group-sm">
                            {{form_widget(form.imagenPathUno, { 'attr': {'readonly': 'readonly', 'class': 'form-control'} })}}
                            {{ filemanagerbutton.filemanagerbutton('mymodal', 'puppy_home_images_slider_raza_imagenPathUno') }}
                        </div>
                        <p class="help-block alert-danger">{{form_errors(form.imagenPathUno)}}</p>
                    </div>  

                    <div class="form-group row">
                        {{form_label(form.imagenPathDos, null)}}
                        <div class="input-group input-group-sm">
                            {{form_widget(form.imagenPathDos, { 'attr': {'readonly': 'readonly', 'class': 'form-control'} })}}
                            {{ filemanagerbutton.filemanagerbutton('mymodalQ',  'puppy_home_images_slider_raza_imagenPathDos') }}
                        </div>
                        <p class="help-block alert-danger">{{form_errors(form.imagenPathDos)}}</p>
                    </div> 

                    <div class="form-group row">
                        {{form_label(form.imagenPathTres, null)}}
                        <div class="input-group input-group-sm">
                            {{form_widget(form.imagenPathTres, { 'attr': {'readonly': 'readonly', 'class': 'form-control'} })}}
                            {{ filemanagerbutton.filemanagerbutton('mymodalF', 'puppy_home_images_slider_raza_imagenPathTres') }}
                        </div>
                        <p class="help-block alert-danger">{{form_errors(form.imagenPathTres)}}</p>
                    </div>          
                </div>           
                {{ form_widget(form._token) }}
                <button class="btn btn-default" type="submit" >Enviar</button>
                <a title="Volver" href="{{ path('backend_razas_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left "></i> Volver</a>

            </form>
        </div> 
    </div>   


{% endblock %}
{% block scripts %}
{% endblock %}