{% extends 'BackendBundle:Default:main.html.twig' %}

{% block content %}
    <h1>Raza {{ entity.nombre }}</h1>


    <div class="row">
        <div class="col-lg-10">
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                    <tbody>
                        <tr>
                            <th>Nombre</th>
                            <td>{{ entity.nombre }}</td>
                        </tr>
                        <tr>
                            <th>Tipo de raza</th>
                            <td>{{ entity.textTipo }}</td>
                        </tr>
                        <tr>
                            <th>Imagen</th>
                            <td><img src="{{entity.imagenPath}}" height="200" width="200"></td>
                        </tr>
                             
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>    
    <ul class="record_actions">
        <lo>
            <a title="Volver" href="javascript:history.back()" class="btn btn-primary"><i class="fa fa-arrow-left "></i> Volver</a>
        </lo>        
    </ul>

{% endblock %}

{% block scripts %}
    
{% endblock %}
